
<div class="container-fluid px-5 pt-2">
  <div class="row no-gutters">
    <div class="col-12">
      <header class="bg-primary text-white d-flex align-items-center justify-content-center" style="height: 30px; width: 100%; margin: 0;">
        <h3 class="m-0" style="font-family: 'Arial', sans-serif; font-weight: bold;">Google Earth</h3>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" style="padding: 0;">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9">
      <app-google-map></app-google-map>
    </div>
  </div>
</div>
